body {
    font-family: 'Raleway', sans-serif;
    font-weight: 200
}

#pageTitle {
  text-align: center;
}

#navbar li {
  display: block;
  background-color: #BCEE9a;
  margin: 10px 10px 10px 10px;
  list-style-type: none;
  padding: 15px 15px 15px 15px;
  font-size: 1.5em;
  text-align: center;
}

#navbar ul {
  background-color: #BCEE9a;
  padding: 0;
}
#navbar a {
  color: white;
  text-decoration: none;
}

#navbar a:hover{
  background-color: white;
  color: #BCEE9a;
}

#mainImg {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;

}

#sideStripeLeft{
 display: none;
}

#sideStripeRight {
  display: none;

}

#mainArticle {
  display: block;
  margin: auto;
  width: 80%;
  padding-left: 15px
}

#teamFooter {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 1075px) {
  #navbar li {
    display: inline-block;
    width: 20%;
  }

  #sideStripeLeft{
  display: block;
  float: left;
  width: 10%;
  height:1000px;
  background-color: #000;
}

#sideStripeRight {
  display: block;
  float: right;
  width: 8%;
  height:1000px;
  background-color: #000;

}
}

